<h5> <%= link_to reading_list.name, reading_list_path(reading_list.id) %></h5>
<div class="details">
  <div class="reading-list-size">
    Number of books: <%= reading_list.books.size %>
  </div>
  <div class="reading-list-authors">
    Authors: <%= reading_list.books.map { |book| book.author }.uniq.to_s %>
  </div>
  <div class="reading-list-publishers">
    Publishers: <%= reading_list.books.map { |book| book.publisher }.uniq.to_s %>
  </div>
</div>
